<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pronto Visa</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet"  href="smart-form/contact/css/smart-forms.css">
  <!-- <link rel="stylesheet" href="app.css"> -->

  <link rel="stylesheet" type="text/css" href="plugins.css">
  <link rel="stylesheet" type="text/css" href="settings.css">
  <link rel="stylesheet" type="text/css" href="layers.css">
  <link rel="stylesheet" type="text/css" href="navigation.css">
  <link rel="stylesheet" type="text/css" href="cuberfolio.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">

  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <div id="preloader">
      <div id="preloader-inner"></div>
  </div><!--/preloader-->

  <div class="site-overlay"></div>

  <nav class="navbar navbar-expand-lg navbar-light navbar-transparent bg-faded nav-sticky">
      <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <img class='logo logo-dark' src="images/prontovisa.png" alt="">
            <img class='logo logo-light hidden-md-down' src="images/prontovisa.png" alt="">
          </a>
          <div  id="navbarNavDropdown" class="navbar-collapse collapse">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item dropdown active">
                      <a class="nav-link  dropdown-toggle" aria-haspopup="true" aria-expanded="false" href="#">Inicio</a>
                  </li>
                  <li class="nav-item dropdown dropdown-full-width">
                    <a class="nav-link dropdown-toggle" href="#tipovisas" aria-haspopup="true" aria-expanded="false">
                        Visas
                    </a>
                  </li>
                  <!-- <li class="nav-item dropdown dropdown-full-width">
                      <a class="nav-link dropdown-toggle" href="#aboutus" aria-haspopup="true" aria-expanded="false">
                          Sobre Nosotros
                      </a>
                  </li> -->

                  <li class="nav-item dropdown dropdown-full-width">
                      <a class="nav-link dropdown-toggle" href="#contactus" role="button" aria-haspopup="true" aria-expanded="false">
                          Contáctenos
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
      <!-- START REVOLUTION SLIDER 5.4.1 auto mode -->
      <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
          <ul>
              <!-- SLIDE  -->
              <li data-index="rs-3045" data-transition="parallaxtoleft" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                  <!-- MAIN IMAGE -->
                  <img src="images/bg1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                  <!-- LAYERS -->

                  <div class="tp-caption mainSlide-Title-Centered   tp-resizeme"
                       id="slide-1706-layer-2"
                       data-x="['left','left','left','left']" data-hoffset="['30','15','15','15']"
                       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','1']"
                       data-fontsize="['55','55','40','30']"
                       data-lineheight="['65','65','55','35']"
                       data-width="['800','700','621','420']"
                       data-height="none"
                       data-whitespace="normal"

                       data-type="text"
                       data-responsive_offset="on"
                       data-frames='[{"delay":1400,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                       data-textAlign="['left','left','left','left']"
                       data-paddingtop="[0,0,0,0]"
                       data-paddingright="[0,0,0,0]"
                       data-paddingbottom="[10,10,10,10]"
                       data-paddingleft="[0,0,0,0]"
                       style="z-index: 6; text-align:left; max-width:1170px; white-space: normal;">Somos especialistas en tramites de Visas Americanas.</div>
                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption mainSlide-Button btn btn-lg btn-white-outline "
                       id="slide-1706-layer-3"
                       data-x="['left','left','left','left']" data-hoffset="['30','15','15','15']"
                       data-y="['middle','middle','middle','middle']" data-voffset="['112','112','112','96']"
                       data-width="none"
                       data-height="none"
                       data-whitespace="nowrap"

                       data-type="button"
                       data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
                       data-responsive_offset="on"
                       data-responsive="off"
                       data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                       data-textAlign="['left','left','left','left']"
                       data-paddingtop="[12,12,12,12]"
                       data-paddingright="[35,35,35,35]"
                       data-paddingbottom="[12,12,12,12]"
                       data-paddingleft="[35,35,35,35]"

                       style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Tipos de visa</div>
              </li>
              <!-- SLIDE  -->
              <li data-index="rs-3046" data-transition="parallaxtoleft" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                  <!-- MAIN IMAGE -->
                  <img src="images/bg13.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                  <!-- LAYERS -->

                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption mainSlide-Title-Centered   tp-resizeme"
                       id="slide-1706-layer-4"
                       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','1']"
                       data-fontsize="['55','55','40','30']"
                       data-lineheight="['65','65','50','35']"
                       data-width="['900','800','621','420']"
                       data-height="none"
                       data-whitespace="normal"

                       data-type="text"
                       data-responsive_offset="on"
                       data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                       data-textAlign="['center','center','center','center']"
                       data-paddingtop="[0,0,0,0]"
                       data-paddingright="[0,0,0,0]"
                       data-paddingbottom="[10,10,10,10]"
                       data-paddingleft="[0,0,0,0]"

                       style="z-index: 6; text-align:center; white-space: normal;">Nuestro personal quienes laboraron en la Embajada Americana por mas de 10 años</div>
              </li>
          </ul>
          <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>	</div>
  </div><!-- END REVOLUTION SLIDER -->
  <div id="tipovisas" class="container pt90">

      <div   class="row pb60">
          <div class="col-lg-3 mb30 wow zoomInUp" data-wow-delay="100ms" data-wow-duration=".4s">
              <div class="icon-box icon-box-center">
                  <i class="icon-hover-1 bg-primary icon-camera icon-hover-default"></i>
                  <h4>Visa de Turista</h4>
                  <p>
                    Deseas ir de vacaciones y conocer los lugares turísticos que te ofrece USA te orientamos en los
tramites que necesitas para obtener dicha Visa.
                </p>
              </div>
          </div><!--/col-->
          <div class="col-lg-3 mb30 wow zoomInDown" data-wow-delay="200ms" data-wow-duration=".6s">
              <div class="icon-box icon-box-center">
                  <i class="icon-hover-1 bg-primary icon-wallet icon-hover-default"></i>
                  <h4>Visa de Trabajo</h4>
                  <p>
                    Te orientamos para que realices los tramites y documentación necesaria para que puedas
laborar en USA.
                  </p>
              </div>
          </div><!--/col-->
          <div class="col-lg-3 mb30 wow zoomInRight" data-wow-delay="300ms" data-wow-duration=".8s">
              <div class="icon-box icon-box-center">
                  <i class="icon-hover-1 bg-primary icon-streetsign icon-hover-default"></i>
                  <h4>Visa de Tránsito</h4>
                  <p>
                    Necesitas hacer escala en Estados Unidos te ayudamos a tramitarla para que
                    pueda gozar de una estadía no máxima a 3 días.
                  </p>
              </div>
          </div><!--/col-->
          <div class="col-lg-3 mb30 wow zoomInRight" data-wow-delay="300ms" data-wow-duration=".8s">
              <div class="icon-box icon-box-center">
                  <i class="icon-hover-1 bg-primary icon-notebook icon-hover-default"></i>
                  <h4>Visa de Estudiante</h4>
                  <p>
                    Te orientamos en el tramites y documentación para que pueda realizar tus estudios en Estados
                    Unidos.
                  </p>
              </div>
          </div><!--/col-->
      </div>
      <div class="row pb60">
          <div class="col-lg-3 mb30 wow zoomInUp" data-wow-delay="100ms" data-wow-duration=".4s">
              <div class="icon-box icon-box-center">
                  <i class="icon-hover-1 bg-primary icon-wine icon-hover-default"></i>
                  <h4>Visa de Matrimonio</h4>
                  <p>
                    Si has contraído matrimonio con alguien de nacionalidad Americana te orientamos a realizar
los tramites que necesitas para poder vivir con esa persona amada.
                  </p>
              </div>
          </div><!--/col-->
          <div class="col-lg-3 mb30 wow zoomInDown" data-wow-delay="200ms" data-wow-duration=".6s">
              <div class="icon-box icon-box-center">
                  <i class="icon-hover-1 bg-primary icon-flag icon-hover-default"></i>
                  <h4>Trámites de residencia</h4>
                  <p>
                    Gestionamos toda la documentación para que tengas una a provechosa y cómoda espera
mientras dura tu proceso.
                  </p>
                  <p>
                    Tasa de éxito de 98,7%
                  </p>
              </div>
          </div><!--/col-->
          <div class="col-lg-3 mb30 wow zoomInRight" data-wow-delay="300ms" data-wow-duration=".8s">
              <div class="icon-box icon-box-center">
                  <i class="icon-hover-1 bg-primary icon-heart icon-hover-default"></i>
                  <h4>Trámite de visa de prometido</h4>
                  <p>
                    Orientamos a ti y a tu pareja los pasos, formas y documentos que debes tener presente al
                    momento de este proceso para que tu tramite sea eficaz un 100%.
                  </p>
              </div>
          </div><!--/col-->
          <div class="col-lg-3 mb30 wow zoomInRight" data-wow-delay="300ms" data-wow-duration=".8s">
              <div class="icon-box icon-box-center">
                  <i class="icon-hover-1 bg-primary icon-pencil icon-hover-default"></i>
                  <h4>Casos Especiales</h4>
                  <p>
                    Son aquellos casos en los cuales no se sabe qué hacer, como que debo hacer
                    para que mi padre o familiar me pida a estados unidos, o que debe hacer mi prometido para
                    comenzar mi proceso legal en aquel país y en el país de mi residencia. Que documentación
                    tengo que tener y a quien se debe acudir.
                  </p>
              </div>
          </div><!--/col-->
      </div>

  </div><!--/intro-->
  <div class="bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg6.jpg")'>
    <div class="container pt60 pb60">
        <div class="row">
            <div class="col-lg-8">
                <h3 class="text-white">
                    brindando así un servicio rápido, seguro y enfocado a tus necesidades particulares.
                </h3>
            </div>
            <div class="col-lg-4 pt0">
                <a href="#contactus" class="btn btn-lg btn-white-outline">
                    Contáctenos
                </a>
            </div>
        </div>
    </div>
</div><!--cta-->
<!-- <div id="aboutus" class="pt90 pb50 container">
    <div class="title-heading1 mb40">
        <h3>Acerca de Nosotros</h3>
    </div>
    <div class="row">
        <div class="col-lg-4 mb40">
            <div class="media icon-simple">
                <div class="d-flex mr-3">
                    <i class="icon-linegraph fa-3x text-primary"></i>
                </div>
                <div class="media-body">
                    <h4 class="mt-0 mb10">Reusable elements</h4>
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mb40">
            <div class="media icon-simple">
                <div class="d-flex mr-3">
                    <i class="icon-lightbulb fa-3x text-primary"></i>
                </div>
                <div class="media-body">
                    <h4 class="mt-0 mb10">Modern Layouts</h4>
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
        </div>
    </div>
</div> -->
<div id="contactus" class="container pt90 pb50">
    <div class="row">
        <div class="col-md-6 mb40">

            <h4 class="text-uppercase">Dirección</h4>
            <p>
                10 Avenida NO, San Pedro Sula 21102
            </p>
            <br>
            <h4 class="text-uppercase">Horario de Oficina</h4>
            <p>
                Lunes-viernes: 8am a 5pm<br>
                Sábado: 9:00am - 12pm Por citas<br>
                Domingo: Cerrado</p>
            <br>
            <h4 class="text-uppercase">Correo</h4>
            <p>
                <a href="#">info@visapronto.hn</a></p>
            <br>
            <h4 class="text-uppercase">Teléfono</h4>
            <p>
                <a href="tel:89343144">8934-3144</a></p>
            <br>
            <h4 class="text-uppercase">Social Media</h4>
            <div class="clearfix pt10">
                <a href="https://www.facebook.com/Prontovisa-381174072364095" target="_blank" class="social-icon si-border si-facebook">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-facebook"></i>
                </a>
            </div>
        </div>
        <div class="col-md-6 mb40">
            <h2>Un gusto saber acerca de tí</h2>
            <p>
                Mandanos un correo y nosotros te contactaremos lo mas pronto posible
            </p>
           <div class="smart-wrap">

    <div class="smart-forms smart-container" ng-controller="formController">
        <form id="smart-form" ng-submit="send_email()">
            <div class="form-body">

                <div class="section">
                    <label class="field prepend-icon">
                        <input type="text" name="sendername" id="sendername" class="gui-input" ng-model="sendername" placeholder="Nombre Completo">
                        <span class="field-icon"><i class="fa fa-user"></i></span>
                    </label>
                </div><!-- end section -->

                <div class="section">
                    <label class="field prepend-icon">
                        <input type="email" name="emailaddress" id="emailaddress" class="gui-input" ng-model="emailaddress" placeholder="Correo Electrónico">
                        <span class="field-icon"><i class="fa fa-envelope"></i></span>
                    </label>
                </div><!-- end section -->

                <div class="section">
                    <label class="field prepend-icon">
                        <input type="text" name="sendersubject" id="sendersubject" class="gui-input" ng-model="sendersubject" placeholder="Titulo del mensaje">
                        <span class="field-icon"><i class="fa fa-lightbulb-o"></i></span>
                    </label>
                </div><!-- end section -->

                <div class="section">
                    <label class="field prepend-icon">
                        <textarea class="gui-textarea" id="sendermessage" name="sendermessage" ng-model="sendermessage" placeholder="Mensaje"></textarea>
                        <span class="field-icon"><i class="fa fa-comments"></i></span>
                        <span class="input-hint"> <strong>Hint:</strong> Ingresa entre 80 - 300 letras.</span>
                    </label>
                </div><!-- end section -->
            </div><!-- end .form-body section -->
            <div class="form-footer">
                <button type="submit" data-btntext-sending="Enviando..." class="button btn btn-primary">Enviar</button>
                <button type="reset" class="button"> Limpiar </button>
            </div><!-- end .form-footer section -->
        </form>
    </div><!-- end .smart-forms section -->
</div><!-- end .smart-wrap section -->
        </div>
    </div>
</div>
<div class="bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg1.jpg")'>
    <div class="container pt60 pb60">
        <div class="row">
            <div class="col-lg-8">
                <h3 class="text-white">
                    Revisa los tipos de visas en la que puedes aplicar
                </h3>
            </div>
            <div class="col-lg-4 pt0">
                <a href="#tipovisas" class="btn btn-lg btn-white-outline">
                    Tipo de Visas
                </a>
            </div>
        </div>
    </div>
</div>
<footer class="footer footer-dark pt50 pb30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6  ml-auto mr-auto text-center">
                <ul class="social-icons list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/Prontovisa-381174072364095" target="_blank">
                            <i class="fa fa-facebook"></i>Facebook
                        </a>
                    </li>
                </ul>
                <h4><i class="fa fa-phone"></i> 8934-3144</h4>
                <h4><i class="fa fa-envelope"></i> info@prontovisa.com</h4>
                <p>&copy; Copyright 2018. Pronto Visa</p>
            </div>
        </div>
    </div>
</footer>
<!--back to top-->
<a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
  <!-- <ul class="menu">
    <li><a href="#!/view1">view1</a></li>
    <li><a href="#!/view2">view2</a></li>
  </ul> -->

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- <div ng-view></div> -->

  <!-- <div>Angular seed app: v<span app-version></span></div> -->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script type="text/javascript" src="js/plugins.js"></script>
  <script type="text/javascript" src="js/assan.custom.js"></script>
  <!-- load cubeportfolio -->
  <script type="text/javascript" src="cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
  <!-- REVOLUTION JS FILES -->
  <script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>
  <script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>
  <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
  <script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
  <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
  <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
  <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
  <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
  <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
  <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>
  <script src="smart-form/contact/js/jquery.form.min.js" type="text/javascript"></script>
  <script src="smart-form/contact/js/jquery.validate.min.js" type="text/javascript"></script>
  <script src="smart-form/contact/js/additional-methods.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="smart-form/contact/js/smart-form.js"></script>
  <script>
      /**Hero  script**/
      var tpj = jQuery;

      var revapi1078;
      tpj(document).ready(function () {
          if (tpj("#rev_slider_1078_1").revolution == undefined) {
              revslider_showDoubleJqueryError("#rev_slider_1078_1");
          } else {
              revapi1078 = tpj("#rev_slider_1078_1").show().revolution({
                  sliderType: "standard",
                  jsFileLocation: "revolution/js/",
                  sliderLayout: "auto",
                  dottedOverlay: "none",
                  delay: 8000,
                  navigation: {
                      arrows: {
                          enable: true,
                          style: 'uranus',
                          tmp: '',
                          rtl: false,
                          hide_onleave: false,
                          hide_onmobile: true,
                          hide_under: 600,
                          hide_over: 9999,
                          hide_delay: 200,
                          hide_delay_mobile: 1200,
                          left: {
                              container: 'slider',
                              h_align: 'left',
                              v_align: 'center',
                              h_offset: 0,
                              v_offset: 0
                          },
                          right: {
                              container: 'slider',
                              h_align: 'right',
                              v_align: 'center',
                              h_offset: 0,
                              v_offset: 0
                          }
                      }
                  },
                  viewPort: {
                      enable: true,
                      outof: "pause",
                      visible_area: "80%",
                      presize: false
                  },
                  responsiveLevels: [1240, 1024, 778, 480],
                  visibilityLevels: [1240, 1024, 778, 480],
                  gridwidth: [1140, 992, 700, 465],
                  gridheight: [600, 600, 500, 480],
                  lazyType: "none",
                  parallax: {
                      type: "mouse",
                      origo: "slidercenter",
                      speed: 2000,
                      levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55]
                  },
                  shadow: 0,
                  spinner: "off",
                  stopLoop: "off",
                  stopAfterLoops: -1,
                  stopAtSlide: -1,
                  shuffle: "off",
                  autoHeight: "off",
                  hideThumbsOnMobile: "off",
                  hideSliderAtLimit: 0,
                  hideCaptionAtLimit: 0,
                  hideAllCaptionAtLilmit: 0,
                  debugMode: false,
                  fallbacks: {
                      simplifyAll: "off",
                      nextSlideOnWindowFocus: "off",
                      disableFocusListener: false
                  }
              });
          }
      });	/*ready*/
      //cube portfolio init
      (function ($, window, document, undefined) {
          'use strict';

          // init cubeportfolio
          $('#js-grid-mosaic-flat').cubeportfolio({
              filters: '#js-filters-mosaic-flat',
              layoutMode: 'mosaic',
              sortToPreventGaps: true,
              mediaQueries: [{
                      width: 1500,
                      cols: 6
                  }, {
                      width: 1100,
                      cols: 4
                  }, {
                      width: 800,
                      cols: 3
                  }, {
                      width: 480,
                      cols: 2,
                      options: {
                          caption: '',
                          gapHorizontal: 15,
                          gapVertical: 15
                      }
                  }],
              defaultFilter: '*',
              animationType: 'fadeOutTop',
              gapHorizontal: 0,
              gapVertical: 0,
              gridAdjustment: 'responsive',
              caption: 'fadeIn',
              displayType: 'fadeIn',
              displayTypeSpeed: 100,
              // lightbox
              lightboxDelegate: '.cbp-lightbox',
              lightboxGallery: true,
              lightboxTitleSrc: 'data-title',
              lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} of {{total}}</div>',
              plugins: {
                  loadMore: {
                      selector: '#js-loadMore-mosaic-flat',
                      action: 'click',
                      loadItems: 3
                  }
              }
          });
      })(jQuery, window, document);
  </script>
</body>
</html>